In [1]:
import pandas as pd
import numpy as np
#libraries that will be used for data collection, storing, cleaning

In [2]:
raw_data=pd.read_csv('data.csv')  #reading in the raw data from the csv and stored into dataframe

/Users/raj/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [21]:
#cleaning the data

#dropping the duplicate and unwanted columns
after_dropped_data=raw_data.drop(columns=['Location','Updated On','X Coordinate','Y Coordinate']) #columns which are not necessary and are duplicates

#counting for each column of how many null values are there
count=after_dropped_data.isna().sum() 

#getting the selected colums with null values and their count
def get_cols_withNan(series):      
    hasNaN_col=[]
    for index, value in series.items():
        if(value>0):
            hasNaN_col.append(index)
    return series[hasNaN_col]


#fixing the NaN data

# #total count of non null values
nonNull_columns= after_dropped_data.count()

# #total columns with null values
Columns_with_null=get_cols_withNan(count)

#comparing null vs non null
percent=(Columns_with_null/nonNull_columns)*100

#final dataframe with the data
columns={'Total Null':Columns_with_null,'Total Non-Null':nonNull_columns,'Percent':percent}
NullvsNonNull=pd.DataFrame(columns).dropna()

print(NullvsNonNull)

#from the table it is visible that what columns have nulls and their percents
#it is visible that Column Ward has 9.50% and Column Area has 9.48% null values so I am dropping that column too.
after_dropped_data=after_dropped_data.drop(columns=['Community Area','Ward'])

                      Total Null  Total Non-Null   Percent
Case Number                  4.0         7083777  0.000056
Community Area          613495.0         6470286  9.481729
District                    47.0         7083734  0.000663
Latitude                 67990.0         7015791  0.969100
Location Description      6320.0         7077461  0.089298
Longitude                67990.0         7015791  0.969100
Ward                    614828.0         6468953  9.504289

In [22]:
# cleaniing the instances which have NaN

after_dropped_data.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,FBI Code,Year,Latitude,Longitude
0,11034701,JA366925,01/01/2001 11:00:00 AM,016XX E 86TH PL,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,412,4.0,11,2001,NaN,NaN
1,11227287,JB147188,10/08/2017 03:00:00 AM,092XX S RACINE AVE,0281,CRIM SEXUAL ASSAULT,NON-AGGRAVATED,RESIDENCE,False,False,2222,22.0,02,2017,NaN,NaN
2,11227583,JB147595,03/28/2017 02:00:00 PM,026XX W 79TH ST,0620,BURGLARY,UNLAWFUL ENTRY,OTHER,False,False,835,8.0,05,2017,NaN,NaN
3,11227293,JB147230,09/09/2017 08:17:00 PM,060XX S EBERHART AVE,0810,THEFT,OVER $500,RESIDENCE,False,False,313,3.0,06,2017,NaN,NaN
4,11227634,JB147599,08/26/2017 10:00:00 AM,001XX W RANDOLPH ST,0281,CRIM SEXUAL ASSAULT,NON-AGGRAVATED,HOTEL/MOTEL,False,False,122,1.0,02,2017,NaN,NaN